.container
{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.settings-bar {
  position: absolute;
  height: 100vh;
  width: 400px;
  top: 0;
  left: -400px;
  transition: left 500ms;
  background-color: white;
}
.settingsBar__reveal {
  left: 0;
}
.settings-icon {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: -60px;
  width: 60px;
  padding: 10px;
}
.title
{
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}
.subtitle
{
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links
{
  padding-top: 15px;
}
.searchbar {
  font-size: 20px;
  line-height: 1.25em;
  border-radius: 3px;
  padding: 0.25em 0.5em;
  border: 1px solid #aaa;
  width: 600px;
  margin: 50px 0 0 0;
}
.searchbar:focus::placeholder {
  color: transparent;
}
ul {
  text-align: left;
}
li {
  list-style: none;
  display: block;
  margin: 10px 0;
}
.color-box {
  display: inline-block;
  min-height: 1em;
  min-width: 50px;
  margin: 0 0 0 20px;
}
